/* ================ СКИДАННЯ ================   */

address {
    font-style: normal;

}

button {
    cursor: pointer;
}

/* ================ СКИДАННЯ ================   */


/* ================ ХЕДЕР ================ */
.logo-span{
    color: #2E2F42;
}
.logo{
    color:#4d5ae5;
    font-family: "Releway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.6;
}

ul a {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link a:hover,
.link a:focus {
    color: #404BBF;
}

.address-link {
    color: #434555;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address {
    font-style: normal;
}

.address .address-link:hover,
.address .address-link:focus {
    color: #404bbf;
}

/* ================ХЕДЕР================ */


/* ================СЕКЦІЯ 1================ */

.title{
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 107.143%;
    letter-spacing: 2%;
    font-weight: bold;
}
.first_button{
    background-color: #4D5AE5;
}


/* ================СЕКЦІЯ 1================ */

/* ================СЕКЦІЯ 2================ */

.title_section_two{
    color: #2E2F42;
    font-family: "Roboto", serif;
    font-size: 20;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;

}

.text_section_two{
    color: #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;

}

/* ================СЕКЦІЯ 2================ */

/* ================СЕКЦІЯ 3================ */

.title_team{
    color: #2e2f42;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
}

.title_name{
    color: #2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.text_work{
    color: #434555;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

/* ================СЕКЦІЯ 3================ */


/* ================СЕКЦІЯ 4================ */

.title_portfolio{
    color: #2e2f42;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
}

.stucture{
    color: #2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.text_structure {
    color: #434555;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

/* ================СЕКЦІЯ 4================ */

/* ================ ФУТЕР ================ */

.footer{
    background-color: #2e2f42;
}

.text_footer{
    color: #434555;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}


/* ================ ФУТЕР ================ */