button{
    cursor: pointer
    ;
}
body{
    font-family: "Roboto", sans-serif;
    color: #333;
    line-height: 1.6;
}
ul a{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32;
}
.link a:hover,
.link a:focus{
    color: #404bbf;
}
.address-link{
    color: #434555;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.address{
    font-style: normal;
}
.address .address-link:hover,
.address .address-link:focus{
    color: #404bbf;
}